{
  "openapi": "3.1.0",
  "info": {
    "title": "CodeFlare Read-only API",
    "version": "2.0.0",
    "description": "公开只读的题库和最近提交部署快照。无认证、写操作或服务端查询参数；版本属于 API 集合，不是响应字段。2.0.0 将域名与仓库标识迁移至 CodeFlare，响应字段结构不变，旧仓库固定值校验器需更新。"
  },
  "servers": [
    {
      "url": "https://codeflare.lucius7.dev"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Snapshot",
      "description": "题库部署快照，保留 legacy 日历和 Rating 字段"
    },
    {
      "name": "Updates",
      "description": "main 最近六次提交快照"
    }
  ],
  "paths": {
    "/data/site-data.json": {
      "get": {
        "operationId": "getSiteSnapshot",
        "summary": "获取完整题库部署快照",
        "description": "generatedAt 表示快照生成时间，不保证 legacy Rating 新鲜度。源码正文通过 rawUrl 等来源另行读取。",
        "tags": [
          "Snapshot"
        ],
        "responses": {
          "200": {
            "description": "JSON 快照。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./site-data.schema.json"
                }
              }
            }
          },
          "304": {
            "description": "托管平台可能对条件请求返回 Not Modified；客户端需已有可用缓存。"
          },
          "404": {
            "description": "文件不存在或发布尚未就绪；可能返回 GitHub Pages HTML 页面，不约定 JSON 错误体。"
          },
          "default": {
            "description": "托管平台或网络异常；检查 HTTP 状态，响应体格式不作应用层约定。"
          }
        }
      }
    },
    "/data/recent-commits.json": {
      "get": {
        "operationId": "getRecentCommits",
        "summary": "获取最近六次仓库提交快照",
        "description": "main 的 Git 历史顺序，包含合并提交。committedAt 是提交者时间；generatedAt 是生成时间。静态快照，不是 GitHub 实时接口。",
        "tags": [
          "Updates"
        ],
        "responses": {
          "200": {
            "description": "最近提交的 JSON 快照。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./recent-commits.schema.json"
                }
              }
            }
          },
          "304": {
            "description": "托管平台可能对条件请求返回 Not Modified；客户端需已有可用缓存。"
          },
          "404": {
            "description": "文件不存在或发布尚未就绪；可能返回 GitHub Pages HTML 页面，不约定 JSON 错误体。"
          },
          "default": {
            "description": "托管平台或网络异常；检查 HTTP 状态，响应体格式不作应用层约定。"
          }
        }
      }
    }
  }
}
